body{
	background-color: #d5d5d5;
	margin: 0;
	padding: 0;
}
#inside{
	padding: 4px;
	padding-top: 0px;
	margin-left: 0px;
	margin-top: 0;
	min-width: 1050px;
}
a{
	text-decoration: none;
	color: black;
}
#main_info{
	font-size: 18px;
	padding: 20px;
	margin-bottom: 10px;
	border-top: 2px dotted black;
	border-bottom: 2px dotted black;
}
.port_cage{
	font-size: 20px;
	padding: 10px;
	border: 2px coral solid;
	box-sizing: border-box;
	display: inline-block;
}
.add{
	color: red;
	font-size: 14px;
	margin-bottom: 5px;
}
.back{
	font-size: 20px;
	margin-top: 30px;
	border:3px black solid;
	background-color: coral;
}
.back:hover{
	color: red;
}
b{
	font-size: 18px;
	text-decoration: underline;
}
i{
	font-style: initial;
	font-size: 22px;
	text-decoration: none;
	font-weight: bold;
	color: #444;
}
.port_cage form{
	display: inline-block;
	box-sizing: border-box;

}
.port_cage br {
	line-height: 27px;
}

#the_switch{
	height: 140px;
	box-sizing: content-box;
	display: inline-block;
	min-width: 1032.2px;
	border:2px solid black;
	background-color: #E0E0F8;
}
#switch_name{
	margin-left: 5px;
	margin-top: 5px;
	font-style: bold;
	font-size: 16px;
	font-weight: bold;
}
.port
{
	border:2px solid black;
	height: 20px;
	margin:1em 0px;
	margin-left: 10.5px;
	width: 20px;
	display: inline-block;
	box-sizing: content-box;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	
}
#switch a:hover{
	color: green;
}
#change_botton, .change_botton_vlan_add, #change_botton_vlan{
	border: 3px solid black;
	box-sizing: content-box;
	display: none;
	padding: 2px;
	background-color: coral;
	font-weight: bold;
}
#change_botton a:hover, #change_botton_vlan a:hover, .change_botton_vlan_add a:hover{color: red}

#edit_botton{
	border: 2px solid black;
	box-sizing: content-box;
	display: inline-block;
	background-color: coral;
	width: 45px;
	font-size: 19px;
	padding: 2px;
	margin:2px;
	margin-bottom: 4px;
	text-align:center;
}
#edit_botton:hover{color: red}
#refresh_botton{
	border: 2px solid black;
	box-sizing: content-box;
	display: inline-block;
	background-color: coral;
	width: 80px;
	font-size: 19px;
	padding: 2px;
	margin:2px;
	margin-top: 0;
	margin-bottom: 4px;
	text-align:center;
}
#refresh_botton:hover{color: red}
.vlans_button{
	border: 2px solid black;
	box-sizing: content-box;
	display: inline-block;
	background-color: coral;
	width: 55px;
	font-size: 19px;
	padding: 2px;
	margin:2px;
	margin-bottom: 12px;
	text-align:center;
	cursor: pointer;
}
.vlans_button:hover{
	color: red;
}
#notes_continer{
	display: none;
}
#notes{
	padding:5px;
	margin-left: 15px;
	margin-right: 25px;
	border: 2px solid black;
	background-color: white;
	height: 250px;
}
#notes_title{
	padding: 7px;
	font-size: 19px;
	margin-bottom:0;
	margin-top:9px;
}
#vlans_detail{
	display: none;
}

#vlan_list, #vlan_list ul{
	list-style-type: none;
}
#vlan_list {
  margin: 0;
  padding: 0;
}
.tag {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}
.tag::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.tag-down::before {
  transform: rotate(90deg);
}
.in_tag {
  display: none;
}
.in_tag_active {
  display: block;
}
.vlan_obj{
	border: 2px solid black;
	padding: 5px;
	background-color: #eeeeee;
	margin-top: 5px;
	font-size: 17px;
}
#edit_vlan_button, #add_port_vlan_button, #remove_vlan_button{
	box-sizing: content-box;
	display: block;
	margin: 4px;
	border: 1px solid black;
	padding: 3px;
	text-align: center;
	background-color: coral;
}
#edit_vlan_button{
	width: 46px;
}
#remove_vlan_button{
	width: 72px;
}
#add_port_vlan_button{
	width: 90px;
}
.vlan_obj .button {
	box-sizing: content-box;
	display: inline-block;
}



#navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  min-width: 1050px;
}
#navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#dropswitches {
  float: left;
  overflow: hidden;
}
#dropswitches #dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  height: 47px;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit
  margin: 0;
}
#navbar a:hover, #dropswitches:hover #dropbtn {
  background-color: red;
}
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
#dropdown-content a:hover {
  background-color: #ddd;
}
#dropswitches:hover #dropdown-content {
  display: block;
}
#cpu_res{
	height: 120px;
	width: 340px;
	margin-right: 30px;
	padding: 6px;
	border: 2px solid black;
	background-color: white;
	right: 15px;
}