body{
	background-color: #e7e7e7;
	margin: 0;
	padding: 0;
  min-width: 1050px;
}
#inside ui{
	font-size: 21px;
}
#inside li a{
	text-decoration: none;
	padding: 4px 15px;
	color: black;
}
#inside li a:hover{
	color: red;
	font-style: italic;

}
#inside li{
	padding: 4px 0;
	box-sizing: border-box;
	border:2px black dotted;
	display: inline-block;
	margin:2px;
}
#inside h3{
	font-size:25px;
	text-align: center;
}
#inside
{
	padding: 10px;
}
.add{
	color: black;
	margin-top: 15px;
	box-sizing: border-box;
	display:inline-block;
	border:2px black solid;
	padding: 7px;
	text-decoration:none;
	background-color: coral;
}
.add:hover{
	color: red;
	font-style: initial;

}
#navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;

}
#navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#dropswitches {
  float: left;
  overflow: hidden;
}
#dropswitches #dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit
  margin: 0;
}
#navbar a:hover, #dropswitches:hover #dropbtn {
  background-color: red;
}
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
#dropdown-content a:hover {
  background-color: #ddd;
}
#dropswitches:hover #dropdown-content {
  display: block;
}