<h3>Supported list:</h3>
<ui><li>    "a10": A10SSH,</li>
<li>    "accedian": AccedianSSH,</li>
<li>    "alcatel_aos": AlcatelAosSSH,</li>
<li>    "alcatel_sros": AlcatelSrosSSH,</li>
<li>    "apresia_aeos": ApresiaAeosSSH,</li>
<li>    "arista_eos": AristaSSH,</li>
<li>    "aruba_os": ArubaSSH,</li>
<li>    "avaya_ers": ExtremeErsSSH,</li>
<li>    "avaya_vsp": ExtremeVspSSH,</li>
<li>    "brocade_fastiron": RuckusFastironSSH,</li>
<li>    "brocade_netiron": ExtremeNetironSSH,</li>
<li>    "brocade_nos": ExtremeNosSSH,</li>
<li>    "brocade_vdx": ExtremeNosSSH,</li>
<li>    "brocade_vyos": VyOSSSH,</li>
<li>    "checkpoint_gaia": CheckPointGaiaSSH,</li>
<li>    "calix_b6": CalixB6SSH,</li>
<li>    "ciena_saos": CienaSaosSSH,</li>
<li>    "cisco_asa": CiscoAsaSSH,</li>
<li>    "cisco_ios": CiscoIosSSH,</li>
<li>    "cisco_nxos": CiscoNxosSSH,</li>
<li>    "cisco_s300": CiscoS300SSH,</li>
<li>    "cisco_tp": CiscoTpTcCeSSH,</li>
<li>    "cisco_wlc": CiscoWlcSSH,</li>
<li>    "cisco_xe": CiscoIosSSH,</li>
<li>    "cisco_xr": CiscoXrSSH,</li>
<li>    "cloudgenix_ion": CloudGenixIonSSH,</li>
<li>    "coriant": CoriantSSH,</li>
<li>    "dell_dnos9": DellForce10SSH,</li>
<li>    "dell_force10": DellForce10SSH,</li>
<li>    "dell_os6": DellDNOS6SSH,</li>
<li>    "dell_os9": DellForce10SSH,</li>
<li>    "dell_os10": DellOS10SSH,</li>
<li>    "dell_powerconnect": DellPowerConnectSSH,</li>
<li>    "dell_isilon": DellIsilonSSH,</li>
<li>    "endace": EndaceSSH,</li>
<li>    "eltex": EltexSSH,</li>
<li>    "enterasys": EnterasysSSH,</li>
<li>    "extreme": ExtremeExosSSH,</li>
<li>    "extreme_ers": ExtremeErsSSH,</li>
<li>    "extreme_exos": ExtremeExosSSH,</li></li>
<li>    "extreme_netiron": ExtremeNetironSSH,</li>
<li>    "extreme_nos": ExtremeNosSSH,</li>
<li>    "extreme_slx": ExtremeSlxSSH,</li>
<li>    "extreme_vdx": ExtremeNosSSH,</li>
<li>    "extreme_vsp": ExtremeVspSSH,</li>
<li>    "extreme_wing": ExtremeWingSSH,</li>
<li>    "f5_ltm": F5TmshSSH,</li>
<li>    "f5_tmsh": F5TmshSSH,</li>
<li>    "f5_linux": F5LinuxSSH,</li>
<li>    "flexvnf": FlexvnfSSH,</li>
<li>    "fortinet": FortinetSSH,</li>
<li>    "generic_termserver": TerminalServerSSH,</li>
<li>    "hp_comware": HPComwareSSH,</li>
<li>    "hp_procurve": HPProcurveSSH,</li>
<li>    "huawei": HuaweiSSH,</li>
<li>    "huawei_vrpv8": HuaweiVrpv8SSH,</li>
<li>    "ipinfusion_ocnos": IpInfusionOcNOSSSH,</li>
<li>    "juniper": JuniperSSH,</li>
<li>    "juniper_junos": JuniperSSH,</li>
<li>    "linux": LinuxSSH,</li>
<li>    "mikrotik_routeros": MikrotikRouterOsSSH,</li>
<li>    "mikrotik_switchos": MikrotikSwitchOsSSH,</li>
<li>    "mellanox": MellanoxMlnxosSSH,</li>
<li>    "mellanox_mlnxos": MellanoxMlnxosSSH,</li>
<li>    "mrv_lx": MrvLxSSH,</li>
<li>    "mrv_optiswitch": MrvOptiswitchSSH,</li>
<li>    "netapp_cdot": NetAppcDotSSH,</li>
<li>    "netscaler": NetscalerSSH,</li>
<li>    "oneaccess_oneos": OneaccessOneOSSSH,</li>
<li>    "ovs_linux": OvsLinuxSSH,</li>
<li>    "paloalto_panos": PaloAltoPanosSSH,</li>
<li>    "pluribus": PluribusSSH,</li>
<li>    "quanta_mesh": QuantaMeshSSH,</li>
<li>    "rad_etx": RadETXSSH,</li>
<li>    "ruckus_fastiron": RuckusFastironSSH,</li>
<li>    "ubiquiti_edge": UbiquitiEdgeSSH,</li>
<li>    "ubiquiti_edgeswitch": UbiquitiEdgeSSH,</li>
<li>    "vyatta_vyos": VyOSSSH,</li>
<li>    "vyos": VyOSSSH</li>
</ui>