<!DOCTYPE html>
<html>
<head>
	<title>Add Switch</title>
<style>
body{
	background-color: #e7e7e7;
}
.a{
	box-sizing: border-box;
	display: inline-block;
	font-style: initial;
	text-decoration:none;
	padding: 5px;
	border:2px black solid;
	width: 60px;
	text-align:center;
	margin-top: 10px;
	color:black;
	background-color: coral;
}
.a:hover{
	color: red;
}
h6{
	margin:0;
	padding: 0;
	color: red;
	font-size: 15px;
}


</style>
</head>
<body>
	<form method="POST">
		<fieldset>
			{% csrf_token %}
			<legend>Switch info:</legend>
			{% if error %}{% include "error_case.html" %}{% endif %}
			<p><label for="id_IP">IP:</label> <input type="text" name="IP" required="" id="id_IP"></p>
			<p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="25" required="" id="id_username"></p>
			<p><label for="id_password">Password:</label> <input type="text" name="password" maxlength="25" id="id_password"></p>			
			{{form_dev.as_p}}
			<input type="submit" name="Save">
		</fieldset>
	</form>
	<a class="a" href="/switches/">Quit</a>
</body>
</html>